* {
    margin: 0px auto;
    padding: 0px;
}

.cabecalho {
    position: relative;
    width: 100%;
    height: 80px;
    float: left;
    background-color: #5DBCD2;
    margin: 0 auto;
}

.menu {
    width: 100%;
    height: 80px;
    background-color: #5DBCD2;
    font-family: Arial, sans-serif;
    font-size: 15pt;
    margin-left: 750px;
}

.logo a {
    position: relative;
    width: 242px;
    height: 58px;
    margin-top: 12px;
    float: left;
    background: url(../imagens/logo.png) no-repeat;

}  

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    width: 150px;
    float: left;
}

.menu a {
    padding: 26.5px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #5DBCD2;
    color: #ffffff;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #ffffff;
    color: #555555;
    border-bottom: solid 4px #afa9a9;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #cccccc;
}

canvas {
    margin-top: 200px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#div1 {
    margin-top: 470px;
    position: absolute;
    display: block;
    width: 200px;
    height: 70px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#div2 {
    margin-top: 400px;
    position: absolute;
    width: 499px;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../imagens/12.png);
    
}

#get {
    margin-top: 399px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
body{
    background-image: url(../imagens/3.png);
}
