* {
    margin: 0px auto;
    padding: 0px;
}

@font-face {
    font-family: 'FonteLogo';
    src: url(../fonts/sunday.otf);
}

.logo:link {
    text-decoration: none;
    color: white
}

.logo:active {
    text-decoration: none;
}

.logo:visited {
    text-decoration: none;
    color: white
}

.cabecalho {
    position: relative;
    width: 100%;
    height: 80px;
    float: left;
    background-color: rgb(21, 177, 212);
    margin: 0 auto;
}
p{
    font-family: 'FonteLogo', sans-serif;
    color: white;
    text-align: center;
}
.logo {
    position: relative;
    width: 242px;
    height: 58px;
    margin-top: 6px;
    float: left;
    left: 30px;
    right: 0;
    font-family: 'FonteLogo', sans-serif;
    font-size: 40px;
    color: white;
}

.menu {
    float: right;
    margin-top: 15px;
    height: 60px;
    background-color: rgb(21, 177, 212);
    font-family: Arial, sans-serif;
    font-size: 15pt;
}

.menu li {
    display: inline-block;
    list-style: none;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    margin: 15px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    transition: background-color .5s;
}

.menu a:hover {
    color: #5DBCD2;
    background-color: #ffffff;
}
#conteiner{
    position: absolute;
    margin-top: 150px;
    right: 375px;
    width:  650px;
    height: 450px;
    background-color: orange;
    border-radius: 25px;
}
#btnplay{
    position: absolute;
    margin-top: 300px;
    right: 280px;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'FonteLogo', sans-serif;
    font-size: 35px;
}
#btnimg{
    position: absolute;
    margin-top: 150px;
    right: 240px;
    background-color: transparent;
    border: none;
    color:white;
    font-family: 'FonteLogo', sans-serif;
    font-size: 35px;
}
#btnaqua{
    position: absolute;
    margin-top: 25px;
    background-image: url("../imagens/2.png");
    right: 250px;
    width: 120px;
    height: 100px;
}
body {
    background-color: #5DBCD2;
}
