<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns: th="http://thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheCode</title>
    <link rel="stylesheet" th:href="@{../css/indexdesign.css}">
    <link rel="icon" type="imagem/png" href="../imagens/aqua.png" />
</head>
<body>
    <header class="cabecalho">
        <a href="/" title="TheCode" class="logo">THE CODE</a>
		<a href="/mostra" class="lista">LISTA</a>
        <a href="/cadastro" class="btnCad">CADASTRO</a>
        <a href="/login" class="btnLog">LOGIN</a>
    </header>
    <main>
        <div id="conteiner">
            <img src="../imagens/loginho.gif" id="logo">
            <a href="/fase" ><button id="btnplay">The Code</button></a>
            <a id="btnaqua" href="/fase"></a>
            <a ></a>
        </div>
    </main>
    <script type="text/javascript" src="../js/indexscript.js"></script>
    
</body>

</html>