<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns: th="http://thymeleaf.org"
>
<head>
<meta charset="UTF-8">
<title>If you need sambary</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <style>
    	body{color: white; background-color: #5DBCD2;}
    	span{color: white;}
    </style>
</head>
<body>
<h1> Usuário </h1>
<h3><a class="waves-effect waves-light btn-large blue darken-4" href="/mostra"><i class="material-icons left">arrow_back</i>List User</a></h3>
<div th:each="usuario: ${usuario}"  class="container">
	<div class="row">
		<p>NOME:	<span th:text="${usuario.nome}"></span></p>
		<p>EMAIL:	<span th:text="${usuario.email}"></span></p>
		<p>NÚMERO:	<span th:text="${usuario.numero}"></span></p>
		<p>SEXO:	<span th:text="${usuario.sexo}"></span></p>
		<p>SENHA:	<span th:text="${usuario.decrypt}"></span> </p>
	</div>
</div>
	<form action="" th:bject="${usuario}"  
    method="POST" enctype="multipart/form-data">
        
        <div>	
        	<input name="id" type="hidden" th:field="*{usuario.id}">
        </div>
        
        <div>
            
            <input name="nome" type="hidden" th:field="*{usuario.nome}" required>
        </div>

        <div>
          
            <input name="senha" id="password" type="hidden" th:value="*{usuario.decrypt}"  required>
        </div>

        <div>
        
            <input name="email" type="hidden" th:field="*{usuario.email}" size="30" required>
        </div>

        <div>
            
            <input name="numero" type="hidden" th:field="*{usuario.numero}" size="15" maxlength="11" required>
        </div>

        <div>
           
            <input name="sexo" id="sexo" th:value="*{usuario.sexo}" type="hidden"> 
             
        </div>
        	 <div>
    <label>
    	<input name="adm" type="checkbox" class="filled-in white" id="disable"  onchange="handle(event)">
    	<span>Tornar o usuário um administrador?</span>
    </label>
    	
    </div>

        <div>
            <button id="bota" class="button blue" name="btn-conf" type="submit" disabled>CONFIRMAR</button>
        </div>

    </form>
   
    


<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
 <script>
 function handle(event){
     if(document.getElementById("disable").checked==true){
         document.getElementById("bota").disabled= false;
     }               
     else{
         document.getElementById("bota").disabled= true;
     }
 }
        </script>
   
</body>
</html>