* {
  margin: 0px auto;
  padding: 0px;
  outline: none;
}

body {
  background-image: url(../imagens/29.png);
  font-family: Arial, Helvetica, sans-serif;
}

button:focus {
  outline-style: none;
}

@font-face {
  font-family: 'FonteLogo';
  src: url(../fonts/sunday.otf);
}

.logo:link {
  text-decoration: none;
  color: white;
}

.logo:active {
  text-decoration: none;
}

.logo:visited {
  text-decoration: none;
  color: white;
}

#main {
  position: absolute;
  margin-top: 100px;
  width: 100%;
  height: 525px;
}

.menu {
  position: relative;
  left: 90px;
}

.win-popup {
  display: none;
  position: absolute;
  margin-top: 0px;
  z-index: 9;
  border-radius: 17px;
  left: 0;
  right: 0;
}

.win-container {
  max-width: 800px;
  height: 420px;
  padding: 15px;
  background-color: #38b6ff;
  border-radius: 15px;
}

.win-popup .win-container p {
  position: relative;
  top: -150px;
  font-size: 50px;
}

#btnphase {
  position: relative;
  top: 10px;
  bottom: 0;
  left: 280px;
  border: none;
  color: white;
  font-family: 'FonteLogo', sans-serif;
  font-size: 30px;
  background-color: #5DBCD2;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  width: 250px;
  height: 70px;
  transition: background-color .5s;
  text-decoration: none;
  text-align: center;
}

#btnphase:hover {
  color: #0289b3;
  background-color: #ffffff;
}

#medalha {
  position: relative;
  top: 0;
  bottom: 0;
  left: 570px;
}

.gameover-popup {
  display: none;
  position: absolute;
  margin-top: 0px;
  z-index: 9;
  border-radius: 17px;
  left: 0;
  right: 0;
}

.gameover-container {
  max-width: 780px;
  height: 420px;
  padding: 15px;
  background-color: #38b6ff;
  border-radius: 15px;
}

.gameover-popup .gameover-container p {
  position: relative;
  top: -10px;
  font-size: 50px;
}

#btnhomego {
  position: relative;
  top: 10px;
  bottom: 0;
  left: 350px;
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'FonteLogo', sans-serif;
  font-size: 30px;
  background-color: #5DBCD2;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  width: 120px;
  height: 70px;
  transition: background-color .5s;
  text-decoration: none;
  text-align: center;
}

#btnhomego:hover {
  color: #0289b3;
  background-color: #ffffff;
}

#btnrei {
  position: relative;
  top: -210px;
  bottom: 0;
  left: 613px;
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'FonteLogo', sans-serif;
  font-size: 30px;
  background-color: #5DBCD2;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  width: 150px;
  height: 70px;
  transition: background-color .5s;
  text-decoration: none;
  text-align: center;
}

#btnrei:hover {
  color: #0289b3;
  background-color: #ffffff;
}

.pause-popup {
  display: none;
  position: absolute;
  margin-top: 43px;
  z-index: 9;
  border-radius: 17px;
  left: 0;
  right: 0;
}

.pause-container {
  max-width: 500px;
  height: 350px;
  padding: 15px;
  background-color: #38b6ff;
  border-radius: 15px;
}

.pause-popup .pause-container p {
  position: relative;
  top: -10px;
  font-size: 50px;
}

#btnpause {
  position: relative;
  left: 1100px;
  background-color: #5DBCD2;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  width: 50px;
  height: 50px;
  transition: background-color .5s;
  text-decoration: none;
  text-align: center;
}

#btnpause:hover {
  color: #0289b3;
  background-color: #ffffff;
}

#imgpause {
  position: relative;
  top: 0;
  bottom: 0;
  left: 180px;
}

canvas {
  position: relative;
  margin-top: 0px;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

p {
  font-family: 'FonteLogo', sans-serif;
  color: white;
  text-align: center;
  font-size: 15px;
}

h1 {
  font-family: 'FonteLogo', sans-serif;
  color: white;
  text-align: center;
  font-size: 15px;
}

h2 {
  font-family: 'FonteLogo', sans-serif;
  color: white;
  font-size: 15px;
  margin-top: -24px;
  margin-left: 90px;
}

/*div das setas*/

#div1 {
  position: relative;
  display: block;
  width: 800px;
  height: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../imagens/12.png);
}

#div2 {
  position: relative;
  display: block;
  width: 800px;
  height: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../imagens/12.png);
}

/* estrela*/

#get {
  position: absolute;
  margin-top: 445px;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* header */

.cabecalho {
  position: relative;
  width: 100%;
  height: 80px;
  float: left;
  background-color: rgb(21, 177, 212);
  margin: 0 auto;
}

/* logo the code */

.logo {
  position: relative;
  width: 242px;
  height: 58px;
  margin-top: 6px;
  float: left;
  left: 30px;
  right: 0;
  font-family: 'FonteLogo', sans-serif;
  font-size: 40px;
  color: white;
}

.menu-popup {
  display: none;
  position: absolute;
  margin-top: 18px;
  z-index: 9;
  border-radius: 17px;
  left: 0;
  right: 0;
}

.menu-container {
  max-width: 500px;
  height: 300px;
  padding: 15px;
  background-color: #38b6ff;
  border-radius: 15px;
}

.menu-popup .menu-container p {
  position: relative;
  top: -70px;
  font-size: 50px;
}

#btnmenu {
  position: absolute;
  top: 5px;
  background-color: #5DBCD2;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  width: 130px;
  height: 40px;
  transition: background-color .5s;
  text-decoration: none;
  text-align: center;
}

#btnmenu:hover {
  color: #0289b3;
  background-color: #ffffff;
}

#imgdois {
  position: relative;
  top: 0;
  bottom: 0;
  left: 350px;
}

#btnhome {
  position: relative;
  top: -50px;
  bottom: 0;
  left: 195px;
  border: none;
  color: white;
  font-family: 'FonteLogo', sans-serif;
  font-size: 30px;
  background-color: #5DBCD2;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  width: 120px;
  height: 70px;
  transition: background-color .5s;
  text-decoration: none;
  text-align: center;
}

#btnhome:hover {
  color: #0289b3;
  background-color: #ffffff;
}

#btntutorial {
  position: relative;
  bottom: 0;
  top: -110px;
  left: 615px;
  border: none;
  color: white;
  font-family: 'FonteLogo', sans-serif;
  font-size: 30px;
  background-color: #5DBCD2;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  width: 150px;
  height: 70px;
  transition: background-color .5s;
  text-decoration: none;
  text-align: center;
}

#btntutorial:hover {
  color: #0289b3;
  background-color: #ffffff;
}


.form-container .btn {
  background-color: #5DBCD2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .tutorial {
  background-color: red;
}

.btnLog {
  background-color: #5DBCD2;
  color: white;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  position: absolute;
  top: 15px;
  right: 30px;
  width: 100px;
  transition: background-color .5s;
  font-size: 12pt;
  text-decoration: none;
  font-family: 'FonteLogo', sans-serif;
  text-align: center;
}

/* Efeito :hover no botão login */

.btnLog:hover {
  color: #0289b3;
  background-color: #ffffff;
}

/* Formata��o dos pop-ups */

.btnCad {
  background-color: #5DBCD2;
  color: white;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  position: absolute;
  top: 15px;
  right: 160px;
  width: 120px;
  transition: background-color .5s;
  font-size: 12pt;
  text-decoration: none;
  font-family: 'FonteLogo', sans-serif;
  text-align: center;
}

/* Efeito :hover no bot�o cadastro */

.btnCad:hover {
  color: #0289b3;
  background-color: #ffffff;
}

.open-button-log {
  background-color: #5DBCD2;
  color: white;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  position: absolute;
  top: 15px;
  right: 30px;
  width: 120px;
  transition: background-color .5s;
  font-size: 12pt;
  font-family: 'FonteLogo', sans-serif;
  text-decoration: none;
  text-align: center;
}

/* Efeito :hover no bot�o login */

.open-button-log:hover {
  color: #0289b3;
  background-color: #ffffff;
}

.open-button-cad {
  background-color: #5DBCD2;
  color: white;
  padding: 16px 20px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  position: absolute;
  top: 15px;
  right: 160px;
  width: 120px;
  transition: background-color .5s;
}

/* Efeito :hover no bot�o cadastro */

.open-button-cad:hover {
  color: #0289b3;
  background-color: #ffffff;
}

/* The popup form - hidden by default */

.form-popup {
  display: none;
  position: absolute;
  top: 100px;
  right: 30px;
  border: 3px solid #5DBCD2;
  z-index: 9;
  border-radius: 17px;
}

/* Add styles to the form container */

.form-container {
  max-width: 300px;
  padding: 15px;
  background-color: rgb(190, 236, 240);
  border-radius: 15px;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #5DBCD2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

label {
  color: #5DBCD2;
}

textarea {
  position: absolute;
  width: 255px;
  height: 450px;
  background-image: url(../imagens/3.png);
  color: white;
  margin-left: 10px;
  margin-top: -350px;
  resize: none;
  border-radius: 10px;
}