<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width" />
<title>Lista de Convidados</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
rel="stylesheet"/>
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
rel="stylesheet"/>
</head>
<body>
<div class="panel panel-default" style="margin: 10px">
<div class="panel-heading">
<h1 class="panel-title">Lista de convidados</h1>
</div>
<div class="panel-body">
<table class="table">
<thead>
<tr th:each="usuario : ${usuarios}">
<td th:text="${usuario.nome}"></td>
<td th:text="${usuario.senha}"></td>
<td th:text="${usuario.email}"></td>
<td th:text="${usuario.numero}"></td>
<td th:text="${usuario.id}"></td>
</tr>
</thead>
<tbody>
<tr>
<td>João</td>
<td>3</td>
</tr>
</tbody>
</table>
</div>
</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
